[submodule "thirdparty/rectpack2D"]
	path = thirdparty/rectpack2D
	url = https://github.com/TeamHypersomnia/rectpack2D
[submodule "thirdparty/lodepng"]
	path = thirdparty/lodepng
	url = https://github.com/lvandeve/lodepng
