[submodule "thirdparty/rectpack2D"]
	path = thirdparty/rectpack2D
	url = https://github.com/TeamHypersomnia/rectpack2D
[submodule "thirdparty/lodepng"]
	path = thirdparty/lodepng
	url = https://github.com/lvandeve/lodepng
[submodule "thirdparty/cli11"]
	path = thirdparty/cli11
	url = https://github.com/CLIUtils/CLI11
[submodule "thirdparty/raylib"]
	path = thirdparty/raylib
	url = https://github.com/raysan5/raylib
